





@model IEnumerable<MS3GUI.Models.TakenAssessment>

@{
    ViewData["Title"] = "Learner Taken Assessments";
}

<h2>Learner Taken Assessments</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().AssessmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().LearnerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssessmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LearnerId)
                </td>
                <td>
                    <a asp-action="Details" asp-route-assessmentId="@item.AssessmentId" asp-route-learnerId="@item.LearnerId">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>





