@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model MS3GUI.Models.Course

<h1>Modules for @Model.Title</h1>

<p>
    <a asp-action="CreateModule" asp-route-courseId="@Model.CourseId" class="btn btn-primary">Create New Module</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Difficulty</th>
            <th>Content URL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var module in Model.Modules)
        {
            <tr>
                <td>@module.Title</td>
                <td>@module.Difficulty</td>
                <td>@module.ContentUrl</td>
                <td>
                    <!-- Button to Add Activity for this module -->
                    <a asp-action="AddActivity" asp-route-courseId="@Model.CourseId" asp-route-moduleId="@module.ModuleId" class="btn btn-info">Add Activity</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@{
}
