<!DOCTYPE html>

@model MS3GUI.Models.Assessment

<h2>Assessment Details</h2>

<div>
    <p>Title: @Model.Title</p>
    <p>Total Marks: @Model.TotalMarks</p>
    <p>Module: @Model.Module?.Title</p> <!-- Display module title -->
    <p>Course: @Model.Course?.Title</p> <!-- Display course name -->
    <p>Assessment Type: @Model.Atype</p>
    <p>Passing Marks: @Model.PassingMarks</p>
    <p>Criteria: @Model.Criteria</p>
    <p>Weightage: @Model.Weightage</p>
    <p>Description: @Model.Adescription</p>
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>



</html>


@*@model MS3GUI.Models.Assessment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Assessment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Atype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalMarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalMarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassingMarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassingMarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Criteria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Criteria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weightage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weightage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Module)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Module.ModuleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@
