@model IEnumerable<MS3GUI.Models.Assessment>

@{
    ViewData["Title"] = "Assessments";
}

<h1>Assessments</h1>

@if (TempData["SuccessMessage"] != null)
{
    <script type="text/javascript">
        alert('@TempData["SuccessMessage"]');
    </script>
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Atype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassingMarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Criteria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weightage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Atype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalMarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassingMarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Criteria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weightage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Module.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <a asp-action="NotifyStudents" asp-route-id="@item.Id">Notify Students</a>
                    <a asp-controller="Assessments" asp-action="HighestGrades" class="btn btn-primary">Highest Score</a>

                </td>
            </tr>
        }
    </tbody>
</table>
