@model IEnumerable<MS3GUI.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearningObjective)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DifficultyLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cdescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Title</td>
                <td>@course.LearningObjective</td>
                <td>@course.CreditPoints</td>
                <td>@course.DifficultyLevel</td>
                <td>@course.Cdescription</td>
                <td>
                    <!-- Link to view modules -->
                    <a href="@Url.Action("Modules", "Courses", new { id = course.CourseId })" class="btn btn-primary">View Modules</a>
                    <!-- Link to view previous courses -->
                    <a href="@Url.Action("ViewPreviousCourses", "Courses", new { courseId = course.CourseId })" class="btn btn-info">Previous Courses</a>
                </td>
            </tr>
        }
    </tbody>
</table>











@* @model IEnumerable<MS3GUI.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearningObjective)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DifficultyLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cdescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LearningObjective)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DifficultyLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cdescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@